/* Configuración general del contenedor */
.container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Estilos para la barra lateral */
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
  }
  
  /* Estilos para los enlaces dentro de la barra lateral */
  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  /* Estilos para el contenido principal, que se desplaza a la derecha de la barra lateral */
  .content {
    margin-left: 200px; /* igual al ancho de la sidebar */
    padding: 20px;
    flex: 1;
  }
  